---
 const personalImageAlt = "Abdelhaq Boulboul"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Abdelhaq Boulboul. Empecé en la
      programación con un hobby, cuando tenía 16 años. Desde entonces, he trabajado para convertir esa pasión en una carrera profesional. Actualmente, <strong
        >estoy enfocado en adquirir nuevas habilidades y demostrar todo lo que soy capaz de lograr.</strong
      >
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >el desarrollo de una aplicación de Salud Mental junto con mis compañeros durante mi formación en el Ciclo Formativo publicada en la Google Play Store</strong
      >.
    </p>

  </div>

  <img width="200" height="200" src="/dev.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

-->
